/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24.08.2022, 07:59:34
    Author     : da_so
*/

.Image {
    height: 500px;
    width: 300px;
}